@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<table>
    @for (int i = 0; i < 10; i++)
    {
        <tr><th>My Name is Stanislav</th><th>Stratiev @(i + 1)</th></tr>
    }

</table>

<p>Use this page to detail your site's privacy policy.</p>
